body{
  background: #f8f7f7;
}
.wrap_content{
  background: #ffffff;
}
.fullWidth{
  width: 100%;
}
.fullHeight{
  height: 100%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.textCenter{
  text-align: center;
}
.textJustify{
  text-align: justify;
}
.textRight{
  text-align: right;
}
.textLeft{
  text-align: left;
}
.upper{
  text-transform: uppercase;
}
.perHalf{
  width: 49%;
}
.tableDiv{
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.tableCell{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  float: none;
}
.tableRow{
  display: table-row;
  vertical-align: middle;
}
.backgroundImage{
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.blackColor{
  color: #000000;
}
.whiteColor{
  color: #ffffff;
}
.nonScroll{
  overflow: hidden;
  height: 100%;
}
.parallaxBackground{
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrapper{
  .header__top{
    //background: #494949;
    display: table;
    .headerLogo{
      height: 100%;
      width: 17%;
      img{
        margin: -7px 0 0 31px;
        max-height: 85px;
        max-width: 150px;
      }
    }
    .searchBlockHeader{
      display: table-cell;
    }
    .headerPhone{
      width: 23%;
      p{
        font: 12px/14px 'RobotoMedium';
        color: #ffffff;
        letter-spacing: 1px;
      }
      span{
        display: block;
        text-align: center;
        font: 31px/31px 'ProximaNovaExCnSemibold';
        color: #ffffff;
        letter-spacing: 1px;
      }
    }
  }
}