.categoriesHoverList{
  float: left;
  width: 100%;
  margin-top: 15px;
  .categoryHoverItem{
    height: 218px;
    float: left;
    width: 25%;
    outline: none;
    padding:  0 25px;
    position: relative;
    margin: 0 0 15px 0;
    & > div{
      width: 100%;
      float: left;
    }
    .categoryHoverImage{
      height: 80px;
      position: relative;
      text-decoration: none;
      border: none;
      cursor: pointer;
      img{
        position: absolute;
        max-width: 90%;
        max-height: 70px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
    }
    .categoryHoverTitle{
      font: 14px/18px 'Roboto';
      font-weight: bold;
      position: relative;
      height: 36px;
      cursor: pointer;
      color: #4a4a4a;
      text-decoration: none;
    }
    .categoryHoverList{
      height: 82px;
      overflow: hidden;
      ul{
        float: left;
        width: 100%;
        li{
          margin-bottom: 6px;
          float: left;
          width: 100%;
          text-decoration: none;
          color: #777777;
          font: 14px/16px 'Roboto';
          a{
            color: #777777;
            font: 14px/16px 'Roboto';
            text-decoration: none;
          }
        }
      }
    }
    .categoryHoverMehr{
      height: 20px;
      color: #777777;
      text-decoration: none;
      cursor: pointer;
      font: 14px/20px 'Roboto';
      border-bottom: 1px solid #e8e8e8;
      background: url("../img/arroow.png") no-repeat right center;
    }
    .hoverBlock{
      display: none;
      z-index: 1;
      width: 400%;
      left: 0;
      top: 116px;
      background: #ffffff;
      padding: 20px 25px 30px;
      position: absolute;
      -webkit-box-shadow:  5px -1px 12px rgba(0, 0 , 0, 0.15);
      -moz-box-shadow:  5px -1px 12px rgba(0, 0 , 0, 0.15);
      box-shadow:  5px -1px 12px rgba(0, 0 , 0, 0.15);
      height: 235px;
      ul{
        float: left;
        width: 100%;
        max-height: 100%;
        overflow: auto;
        li{
          margin-bottom: 6px;
          float: left;
          width: 33%;
          text-decoration: none;
          color: #777777;
          font: 14px/16px 'Roboto';
          a{
            color: #777777;
            font: 14px/16px 'Roboto';
            text-decoration: none;
          }
        }
      }
      .hoverClose{
        position: absolute;
        height: 20px;
        background: url("../img/arroow-top.png") no-repeat right 15px center;
        left: 0;
        cursor: pointer;
        bottom: 10px;
        width: 100%;
        &:after{
          content: '';
          width: 94%;
          background: #e8e8e8;
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          height: 1px;
        }
      }
    }
    .hoverImage{
      -webkit-box-shadow:  5px -3px 3px rgba(0, 0 , 0, 0.15);
      -moz-box-shadow:  5px -3px 3px rgba(0, 0 , 0, 0.15);
      box-shadow:  5px -3px 3px rgba(0, 0 , 0, 0.15);
      width: 25%;
      bottom: 100%;
      height: 116px;
      background: #ffffff;
      position: absolute;
      left: 0;
      z-index: -1;
    }
    &:nth-child(4n+2){
      .hoverBlock{
        left: -100%;
      }
      .hoverImage{
        left: 25%;
      }
    }
    &:nth-child(4n+3){
      .hoverBlock{
        left: -200%;
      }
      .hoverImage{
        left: 50%;
      }
    }
    &:nth-child(4n+4){
      .hoverBlock{
        left: -300%;
      }
      .hoverImage{
        left: 75%;
      }
    }
    &.opened{
      .categoryHoverImage, .categoryHoverTitle{
        z-index: 2;
      }
    }
  }
}
.paddingContent{
  padding: 25px 15px !important;
}
.stepTitle{
  color: #414141;
  font: 18px 'Roboto';
  font-weight: bold;
  float: left;
  width: 100%;
  text-align: center;
  &.simpleTitle{
    font-weight: normal;
  }
  &.blueStepTitle{
    color: #0067d7;
  }
}
.stepTextSimple{
  float: left;
  width: 100%;
  color: #414141;
  font: 14px 'Roboto';
  text-align: center;
}
.stepLink{
  float: left;
  width: 100%;
  color: #0067d7;
  font: 14px 'Roboto';
  text-align: center;
  text-decoration: none;
}
.stepsWrapper{
  float: left;
  width: 100%;
  margin: 25px 0 35px;
  .stepItem{
    float: left;
    width: 20%;
    .stepImage{
      float: left;
      width: 100%;
      height: 95px;
      text-align: center;
      .imageWrapper{
        position: relative;
        display: inline-block;
        height: 95px;
        background-position: center bottom;
        background-repeat: no-repeat;
        img{
          opacity: 0;
        }
        .stepNumber{
          position: absolute;
          font: 60px/20px 'Roboto';
          font-weight: bold;
          color: #808080;
          opacity: 0.4;
          left: -15px;
          top: 0;
        }
      }
    }
    .stepText{
      float: left;
      width: 100%;
      font: 16px 'Roboto';
      color: #808080;
      text-align: center;
      margin-top: 20px;
    }
    &:last-child{
      .stepText{
        text-transform: uppercase;
      }
    }
  }
  &.stepsFour{
    padding: 0 50px;
    margin: 40px 0;
    .stepItem {
      float: left;
      width: 25%;
      &:last-child{
        .stepText{
          text-transform: none;
        }
      }
    }
    .stepTitle{
      margin-bottom: 30px;
    }
  }
}
.linksBlock{
  float: left;
  width: 100%;
  margin: 20px 0 40px;
  padding: 30px 0;
  border: 1px solid #e8e8e8;
  .halfBlock{
    margin-top: 30px;
    float: left;
    width: 50%;
    &.textRight{
      padding-right: 50px;
      img, span{
        float: left;
      }
    }
    &.textLeft{
      padding-left: 50px;
      img, span{
        float: right;
      }
    }
    a{
      display: inline-block;
      color: #414141 !important;
      img, span{
        margin: 0 10px;
        color: #414141 !important;
        text-transform: none !important;
        font: 14px/46px 'Roboto' !important;
        height: 46px;
      }
    }
  }
}
.imageList{
  float: left;
  width: 100%;
  padding: 30px 0 30px;
  .imageColumn{
    width: ~'calc(50% - 135px)';
    float: left;
    .columnItem{
      position: relative;
      float: left;
      font: 14px 'Roboto';
      color: #414141;
      img{
        position: absolute;
        top: 0;
      }
    }
    &.leftColumn{
      .columnItem{
        padding: 0 55px 0 5px;
        text-align: right;
        img{
          right: 0;
        }
      }
    }
    &.rightColumn{
      .columnItem{
        padding: 0 5px 0 55px;
        text-align: left;
        img{
          left: 0;
        }
      }
    }
    &.centerColumn{
      width: 270px;
      img{
        display: block;
        margin: 75px auto;
      }
    }
  }
}
.greySection{
  background: #f6f6f6;
  padding: 30px 0;
  float: left;
  width: 100%;
  .stepTitle{
    margin-bottom: 10px;
  }
}