.categoriesHoverList {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.categoriesHoverList .categoryHoverItem {
  height: 218px;
  float: left;
  width: 25%;
  outline: none;
  padding: 0 25px;
  position: relative;
  margin: 0 0 15px 0;
}
.categoriesHoverList .categoryHoverItem > div {
  width: 100%;
  float: left;
}
.categoriesHoverList .categoryHoverItem .categoryHoverImage {
  height: 80px;
  position: relative;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.categoriesHoverList .categoryHoverItem .categoryHoverImage img {
  position: absolute;
  max-width: 90%;
  max-height: 70px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.categoriesHoverList .categoryHoverItem .categoryHoverTitle {
  font: 14px/18px 'Roboto';
  font-weight: bold;
  position: relative;
  height: 36px;
  cursor: pointer;
  color: #4a4a4a;
  text-decoration: none;
}
.categoriesHoverList .categoryHoverItem .categoryHoverList {
  height: 82px;
  overflow: hidden;
}
.categoriesHoverList .categoryHoverItem .categoryHoverList ul {
  float: left;
  width: 100%;
}
.categoriesHoverList .categoryHoverItem .categoryHoverList ul li {
  margin-bottom: 6px;
  float: left;
  width: 100%;
  text-decoration: none;
  color: #777777;
  font: 14px/16px 'Roboto';
}
.categoriesHoverList .categoryHoverItem .categoryHoverList ul li a {
  color: #777777;
  font: 14px/16px 'Roboto';
  text-decoration: none;
}
.categoriesHoverList .categoryHoverItem .categoryHoverMehr {
  height: 20px;
  color: #777777;
  text-decoration: none;
  cursor: pointer;
  font: 14px/20px 'Roboto';
  border-bottom: 1px solid #e8e8e8;
  background: url("../img/arroow.png") no-repeat right center;
}
.categoriesHoverList .categoryHoverItem .hoverBlock {
  display: none;
  z-index: 1;
  width: 400%;
  left: 0;
  top: 116px;
  background: #ffffff;
  padding: 20px 25px 30px;
  position: absolute;
  -webkit-box-shadow: 5px -1px 12px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px -1px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 5px -1px 12px rgba(0, 0, 0, 0.15);
  height: 235px;
}
.categoriesHoverList .categoryHoverItem .hoverBlock ul {
  float: left;
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
.categoriesHoverList .categoryHoverItem .hoverBlock ul li {
  margin-bottom: 6px;
  float: left;
  width: 33%;
  text-decoration: none;
  color: #777777;
  font: 14px/16px 'Roboto';
}
.categoriesHoverList .categoryHoverItem .hoverBlock ul li a {
  color: #777777;
  font: 14px/16px 'Roboto';
  text-decoration: none;
}
.categoriesHoverList .categoryHoverItem .hoverBlock .hoverClose {
  position: absolute;
  height: 20px;
  background: url("../img/arroow-top.png") no-repeat right 15px center;
  left: 0;
  cursor: pointer;
  bottom: 10px;
  width: 100%;
}
.categoriesHoverList .categoryHoverItem .hoverBlock .hoverClose:after {
  content: '';
  width: 94%;
  background: #e8e8e8;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
}
.categoriesHoverList .categoryHoverItem .hoverImage {
  -webkit-box-shadow: 5px -3px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px -3px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 5px -3px 3px rgba(0, 0, 0, 0.15);
  width: 25%;
  bottom: 100%;
  height: 116px;
  background: #ffffff;
  position: absolute;
  left: 0;
  z-index: -1;
}
.categoriesHoverList .categoryHoverItem:nth-child(4n+2) .hoverBlock {
  left: -100%;
}
.categoriesHoverList .categoryHoverItem:nth-child(4n+2) .hoverImage {
  left: 25%;
}
.categoriesHoverList .categoryHoverItem:nth-child(4n+3) .hoverBlock {
  left: -200%;
}
.categoriesHoverList .categoryHoverItem:nth-child(4n+3) .hoverImage {
  left: 50%;
}
.categoriesHoverList .categoryHoverItem:nth-child(4n+4) .hoverBlock {
  left: -300%;
}
.categoriesHoverList .categoryHoverItem:nth-child(4n+4) .hoverImage {
  left: 75%;
}
.categoriesHoverList .categoryHoverItem.opened .categoryHoverImage,
.categoriesHoverList .categoryHoverItem.opened .categoryHoverTitle {
  z-index: 2;
}
.paddingContent {
  padding: 25px 15px !important;
}
.stepTitle {
  color: #414141;
  font: 18px 'Roboto';
  font-weight: bold;
  float: left;
  width: 100%;
  text-align: center;
}
.stepTitle.simpleTitle {
  font-weight: normal;
}
.stepTitle.blueStepTitle {
  color: #0067d7;
}
.stepTextSimple {
  float: left;
  width: 100%;
  color: #414141;
  font: 14px 'Roboto';
  text-align: center;
}
.stepLink {
  float: left;
  width: 100%;
  color: #0067d7;
  font: 14px 'Roboto';
  text-align: center;
  text-decoration: none;
}
.stepsWrapper {
  float: left;
  width: 100%;
  margin: 25px 0 35px;
}
.stepsWrapper .stepItem {
  float: left;
  width: 20%;
}
.stepsWrapper .stepItem .stepImage {
  float: left;
  width: 100%;
  height: 95px;
  text-align: center;
}
.stepsWrapper .stepItem .stepImage .imageWrapper {
  position: relative;
  display: inline-block;
  height: 95px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.stepsWrapper .stepItem .stepImage .imageWrapper img {
  opacity: 0;
}
.stepsWrapper .stepItem .stepImage .imageWrapper .stepNumber {
  position: absolute;
  font: 60px/20px 'Roboto';
  font-weight: bold;
  color: #808080;
  opacity: 0.4;
  left: -15px;
  top: 0;
}
.stepsWrapper .stepItem .stepText {
  float: left;
  width: 100%;
  font: 16px 'Roboto';
  color: #808080;
  text-align: center;
  margin-top: 20px;
}
.stepsWrapper .stepItem:last-child .stepText {
  text-transform: uppercase;
}
.stepsWrapper.stepsFour {
  padding: 0 50px;
  margin: 40px 0;
}
.stepsWrapper.stepsFour .stepItem {
  float: left;
  width: 25%;
}
.stepsWrapper.stepsFour .stepItem:last-child .stepText {
  text-transform: none;
}
.stepsWrapper.stepsFour .stepTitle {
  margin-bottom: 30px;
}
.linksBlock {
  float: left;
  width: 100%;
  margin: 20px 0 40px;
  padding: 30px 0;
  border: 1px solid #e8e8e8;
}
.linksBlock .halfBlock {
  margin-top: 30px;
  float: left;
  width: 50%;
}
.linksBlock .halfBlock.textRight {
  padding-right: 50px;
}
.linksBlock .halfBlock.textRight img,
.linksBlock .halfBlock.textRight span {
  float: left;
}
.linksBlock .halfBlock.textLeft {
  padding-left: 50px;
}
.linksBlock .halfBlock.textLeft img,
.linksBlock .halfBlock.textLeft span {
  float: right;
}
.linksBlock .halfBlock a {
  display: inline-block;
  color: #414141 !important;
}
.linksBlock .halfBlock a img,
.linksBlock .halfBlock a span {
  margin: 0 10px;
  color: #414141 !important;
  text-transform: none !important;
  font: 14px/46px 'Roboto' !important;
  height: 46px;
}
.imageList {
  float: left;
  width: 100%;
  padding: 30px 0 30px;
}
.imageList .imageColumn {
  width: calc(50% - 135px);
  float: left;
}
.imageList .imageColumn .columnItem {
  position: relative;
  float: left;
  font: 14px 'Roboto';
  color: #414141;
}
.imageList .imageColumn .columnItem img {
  position: absolute;
  top: 0;
}
.imageList .imageColumn.leftColumn .columnItem {
  padding: 0 55px 0 5px;
  text-align: right;
}
.imageList .imageColumn.leftColumn .columnItem img {
  right: 0;
}
.imageList .imageColumn.rightColumn .columnItem {
  padding: 0 5px 0 55px;
  text-align: left;
}
.imageList .imageColumn.rightColumn .columnItem img {
  left: 0;
}
.imageList .imageColumn.centerColumn {
  width: 270px;
}
.imageList .imageColumn.centerColumn img {
  display: block;
  margin: 75px auto;
}
.greySection {
  background: #f6f6f6;
  padding: 30px 0;
  float: left;
  width: 100%;
}
.greySection .stepTitle {
  margin-bottom: 10px;
}
